[build]
  command = "npm run build"
  publish = "dist"

[context.production]
  command = "npm run build"

[build.environment]
  NPM_FLAGS = "--force"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
  force = false
